@model QuizApp.Models.Question

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>QuizStart</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-md-10 col-xs-10 col-sm-10">
                    <div class="row">
                        <h1>@Html.DisplayFor(x => x.Question_Name)</h1>
                    </div>
                    <br />
                    <div class="row">
                        <h5>@Html.RadioButtonFor(x => x.OptionA, @Model.Question_Id) @Model.OptionA</h5>
                    </div>
                    <div class="row">
                        <h5>@Html.RadioButtonFor(x => x.OptionB, @Model.Question_Id) @Model.OptionB</h5>
                    </div>
                    <div class="row">
                        <h5>@Html.RadioButtonFor(x => x.OptionC, @Model.Question_Id) @Model.OptionC</h5>
                    </div>
                    <div class="row">
                        <h5>@Html.RadioButtonFor(x => x.OptionD, @Model.Question_Id) @Model.OptionD</h5>
                    </div>
                    <div class="row" style="display:none">
                        @Html.TextBoxFor(x => x.CorrectOption)
                    </div>
                    <div class="row">
                        <input type="submit" value="submit" class="btn btn-success" />
                    </div>
                </div>

            </div>
        </div>

    }


</body>
</html>
